@page "/"
@layout EmptyLayout
@inherits SharedAuthenticationBase

<link href="css/site.css" rel="stylesheet" />

<MudAppBar Elevation="2" Style="background-color:#00415a; color:white;">
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudText Typo="Typo.h6">Repair Asset Management System Login</MudText>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudText Typo="Typo.body2">RAMS Login</MudText>
    </MudHidden>
    <MudSpacer />

    <MudButton Variant="Variant.Text"
               Color="Color.Inherit"
               OnClick="@ShowHelpDialog"
               Style="text-transform:none;">
        Help
    </MudButton>

    <MudButton Variant="Variant.Text"
               Color="Color.Inherit"
               OnClick="@ShowAboutDialog"
               Style="text-transform:none;">
        About
    </MudButton>
</MudAppBar>

<Loader Visible="@isLoading" />

<div class="login-background">
    <div class="floating-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <MudPaper Class="glassmorphic-box" Elevation="0">
        <div class="glass-inner-wrapper">
            <div class="welcome-icon">
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" />
            </div>
            <MudText Typo="Typo.h4" Class="login-title">Welcome Back</MudText>

            <MudTextField Label="Email"
                          @bind-Value="_email"
                          Variant="Variant.Filled"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Email"
                          Class="custom-textfield mb-4"
                          FullWidth="true" />

            <MudTextField @bind-Value="_password"
                          Label="Password"
                          Variant="Variant.Filled"
                          InputType="@(_showPassword ? InputType.Text : InputType.Password)"
                          Adornment="Adornment.End"
                          AdornmentIcon="@(_showPassword ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                          OnAdornmentClick="@TogglePasswordVisibility"
                          FullWidth="true"
                          Class="custom-textfield mb-4" />

            @if (!string.IsNullOrEmpty(_error))
            {
                <MudAlert Severity="Severity.Error" Dense="true" Class="custom-alert">@_error</MudAlert>
            }

            <MudButton OnClick="LoginAccount"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       FullWidth="true"
                       Class="custom-button">
                Sign In
            </MudButton>

            <MudText Class="register-text" Typo="Typo.body2">
                Don't have an account?
                <MudLink Href="/register-account" Class="register-link ml-1">Register here</MudLink>
            </MudText>

        </div>
    </MudPaper>
</div>
